// Global default params

params {
    gatk_vcfgz = "/home/humebc/projects/20210125_kopp_guinea_fowl/nf_pipeline_kopp_production/20210609_final_variant_calling_output_dir/gatk_output_variants/gatk.out.vcf.gz"
    bcftools_vcfgz = "/home/humebc/projects/20210125_kopp_guinea_fowl/nf_pipeline_kopp_production/20210610_bcftools_genotyping/bcftools_vcf/bcftools.call.concat.vcf.gz"
}
profiles{
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

executor{
    // Number of cpus for nextflow to make use of
    cpus=256
}
